<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Order">
    <insert id="save" parameterType="order">
        insert into order_table (orderName, postcode, address, detailAddress, extraAddress, requests, orderMobile,
                                 orderProduct, orderAmount, orderPrice)
        values (#{orderName}, #{postcode}, #{address}, #{detailAddress}, #{extraAddress}, #{requests}, #{orderMobile},
                #{orderProduct}, #{orderAmount}, #{orderPrice})
    </insert>


    <select id="findById" parameterType="Long" resultType="order">
        select *
        from order_table
        where id = #{id};
    </select>

    <select id="findAll" parameterType="String" resultType="order">
        select *
        from order_table
        where orderName = #{orderName}
    </select>

    <update id="update" parameterType="order">
        update order_table
        set orderStatus=#{orderStatus}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete
        from order_table
        where id = #{id}
    </delete>

</mapper>














