<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="save" parameterType="board">
        insert into boards_table (boardTitle, boardWriter, boardPw, boardContents, boardCreatedDate, boardFileName)
            values (#{boardTitle}, #{boardWriter}, #{boardPw}, #{boardContents}, now(), #{boardFileName})
    </insert>

    <select id="findAll" resultType="board">
        select * from boards_table order by id desc
    </select>

    <select id="findById" parameterType="Long" resultType="board">
        select * from boards_table where id=#{id}
    </select>

    <select id="updateHits" parameterType="Long">
        update boards_table set boardHits=boardHits+1 where id=#{id}
    </select>


</mapper>














