<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.its.project.dto.MemberDTO" alias="member"></typeAlias>
        <typeAlias type="com.its.project.dto.BoardDTO" alias="board"></typeAlias>
        <typeAlias type="com.its.project.dto.CommentDTO" alias="comment"></typeAlias>
        <typeAlias type="com.its.project.dto.ProductDTO" alias="product"></typeAlias>
        <typeAlias type="com.its.project.dto.ReviewDTO" alias="review"></typeAlias>
        <typeAlias type="com.its.project.dto.CartDTO" alias="cart"></typeAlias>
        <typeAlias type="com.its.project.dto.OrderDTO" alias="order"></typeAlias>
    </typeAliases>
</configuration>
